body {
    padding-top: 20px;
    padding-bottom: 20px;
}

body .title {
    font-size:2.25rem!important;
    box-sizing: border-box;
}

.form-style {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-style .form-signin-heading,
.form-style .checkbox {
    margin-bottom: 10px;
}
.form-style .checkbox {
    font-weight: normal;
}
.form-style .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-style .form-control:focus {
    z-index: 2;
}
.form-style input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-style input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-style input#inputHowMuch {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.d-welcome-msg {
    margin: 10px 20px 0px 0px;
}

.left_col {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

.right_col {
    vertical-align: top;
    display: inline-block;
}

.left_col h2, .right_col h2 {
    font-size: x-large;
}