{% extends 'main_frame.html' %}

{% block content %}
<script src="/static/scripts/form_utils.js" type="application/javascript"></script>

        <h3>Create An IOU</h3>
        <form id="form-iou" action="/api/create_iou" method="POST">
            <table class="form-table"><tr><td>
                <label for="inpuUsertName" class="sr-only">Send To</label>
            </td><td>
                <select name="toUserId" required>
                    <option value="" disabled selected>Select user...</option>
                    {% for user in users %}
                    <option value="{{user[0]}}">{{user[1]}}</option>
                    {% endfor %}
                </select>
            </td></tr>
            <tr><td>
                <label for="inputHowMuch" class="sr-only">How Much ($)</label>
            </td><td>
                <input
                    name="inputHowMuch"
                    id="inputHowMuch"
                    placeholder="How Much"
                    required
                    type="number" min="0.01" step="0.01"
                />
            </td></tr>
            <tr><td colspan="2">
                <button
                    class="btn btn-lg btn-primary btn-block"
                    type="submit">Submit</button>
            </td></tr></table>
                    
        </form>

<script type="application/javascript">
    window.addEventListener('load', function() {
        init("#form-iou", "/api/create_iou", "/");
    });
</script>
{% endblock %}
