{% extends 'main_frame.html' %}

{% block content %}
<div class="left_col">
<h2>Money owed to you:</h2><br/>
<div class="row marketing">
    <div class="col-lg-6">
        {% for iou in owed_to %}
        <h4>${{ iou[0] }}</h4>
        <div>{{ iou[2] }}</div>
        <div><a href="#" onclick="deleteIou('{{iou[3]}}')">Resolve</a></div>
        <br/>
        {% endfor %}     
    </div>
</div>
</div>

<div class="right_col">
<h2>Money you owe:</h2><br/>
<div class="row marketing">
    <div class="col-lg-6">
        {% for iou in owed_from %}
        <h4>${{ iou[0] }}</h4>
        <div>{{ iou[2] }}</div>
        <br/>
        {% endfor %}     
    </div>
</div>
</div>

<script type="application/javascript">
    function deleteIou(id) {
        if (confirm("Sure you want to resolve this IOU?") == true) {
            location = "/delete_iou?id=" + id;
        }
    }
</script>
{% endblock %}