{% extends 'main_frame.html' %}

{% block content %}
<script src="/static/scripts/form_utils.js" type="application/javascript"></script>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-center">IOU App</h1>
        <form id="form-signin" action="/api/signup" method="POST" class="form-style">
            <label for="inpuUsertName" class="sr-only">User Name</label>
            <input
                type="name"
                name="inputUserName"
                id="inputUserName"
                class="form-control"
                placeholder="User Name"
                required
                autofocus
            />

            <label for="inputDisplayName" class="sr-only">Display Name</label>
            <input
                type="name"
                name="inputDisplayName"
                id="inputDisplayName"
                class="form-control"
                placeholder="Display Name"
                required
                autofocus
            />

            <label for="inputEmail" class="sr-only">Email address</label>
            <input
                type="email"
                name="inputEmail"
                id="inputEmail"
                class="form-control"
                placeholder="Email address"
                required
                autofocus
            />

            <label for="inputPassword" class="sr-only">Password</label>
            <input
                type="password"
                name="inputPassword"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
            />

            <label for="confirmPassword" class="sr-only">Confirm Password</label>
            <input 
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                class="form-control"
                placeholder="Confirmation"
                required
            />

            <button
                class="btn btn-lg btn-primary btn-block"
                type="submit">Sign up</button>
                    
        </form>
    </div>
</div>
<script type="application/javascript">
    window.addEventListener('load', function() {
        init("#form-signin", "/api/signup", "/login");
    });
</script>
{% endblock %}
